<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.aco.realpay.mapper.RealpayMapper">
	<select id="findRealpayTotal" resultType="java.lang.Integer" parameterType="com.yonyou.aco.realpay.entity.RealpayEntity">
		SELECT COUNT(1) FROM DD_REALPAY WHERE USER_CODE=#{userCode} AND STATUS=1
	</select>

	<update id="updateRealpayNotice">
		UPDATE DD_REALPAY SET IS_SEND_NOTICE=#{isSendNotice} WHERE REALPAY_ID=#{realpayId}
	</update>

	<!-- <select id="findRealpayUnNotice" resultMap="RealpayEntityMap">
		SELECT REALPAY_ID, USER_CODE, MENU_NAME FROM DD_REALPAY DR, DD_USER DU WHERE DR.USER_CODE=DU.TELEPHONE
	</select>
	<resultMap type="com.yonyou.aco.realpay.entity.RealpayEntity" id="RealpayEntityMap">
		<id column="realpay_id" property="realpayId" />
		<result column="user_code" property="userCode" />
		<result column="menu_name" property="menuName" />
		<association property="userEntity" select="com.yonyou.aco.user.entity.UserEntity">
			<id column="telephone" property="telephone"/>
			<result column="dd_user_id" property="dd_user_id" />
		</association>
	</resultMap> -->
</mapper>